<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head_default_tags :: head_default_tags">head default tags come here.</th:block>
    <title>Online Car Rental | Home</title>
</head>
<body>
<nav th:replace="fragments/admin_nav :: admin_nav"></nav>

<div style="padding-top:1em;" class="container">
    <h3>Welcome! Car & Clerk Management</h3>
    <hr/>
    <div style="font-size: 1em">
        <img width="100%" th:src="@{/images/car-cus-banner-white-bgreservation.}"/><br/><br/>
        <p>Use this space to manage <a title="Car Management" th:href="@{/car/list}">cars</a> and <a title="Clerk Management" th:href="@{/clerk/list}">clerks</a> in this online car rental system.</p>
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>
<th:block th:replace="fragments/js_scripts :: js_scripts">js scripts come here.</th:block>
</body>
</html>
