<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head_default_tags :: head_default_tags">head default tags come here.</th:block>
    <title>Online Car Rental | Add Clerk</title>
</head>
<body>
<nav th:replace="fragments/admin_nav :: admin_nav"></nav>
<div style="padding-top:1em;" class="container">
    <div style="margin-bottom: 1em;">
        <h2>Edit Clerk</h2>
    </div>
    <form id="updateClerkForm" method="post" th:object="${clerk}" th:action="@{'/clerk/edit/{clerkId}'(clerkId=${clerk.id})}">
        <fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <input id="id" name="id" hidden type="text" class="form-control" th:value="${clerk.id}"
                               readonly autofocus>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input th:value = "${clerk.email}" id="email" name="email" type="text" class="form-control"
                               autofocus required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input th:value = "${clerk.firstName}"  name="firstName" id="firstName"  type="text" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="middleName">Middle Name</label>
                        <input th:value = "${clerk.middleName}" name="middleName" id="middleName"  type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input th:value = "${clerk.lastName}" name="lastName" id="lastName"  type="text" class="form-control" required>
                    </div>
                </div>

            </div>

            <div style="float:right;">
                <a href="/clerk/list" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                <button id="btnSubmit" type="submit" class="btn btn-outline-success">Update Clerk</button>
            </div>
        </fieldset>
    </form>


</div>

<div th:replace="fragments/footer :: footer"></div>
<th:block th:replace="fragments/js_scripts :: js_scripts">js scripts come here.</th:block>
</body>
</html>
