<nav th:fragment="logged_in_customer_nav" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a style="padding-right: 2em;" class="navbar-brand" th:href="@{/sec}">Online Car Rental</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                <a class="nav-link" title="Our Fleet" th:href="@{/customer/sec/car/all/list}">Browse Our Car Fleet</a>
            </li>

            <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                <a class="nav-link" title="Rent Now!" th:href="@{/customer/sec/car/dates?startDate=&endDate=}">Rent Now!</a>
            </li>

            <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                <a class="nav-link" title="My Reservations" th:href="@{/customer/sec/car/reserve/list}">My Reservations</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <span style="color:#fff;padding-left: 2em; padding-right: 1em;">Welcome, <span th:text="${displayName}">Customer</span></span>
            <!--<a style="color: #ffffff; margin-right: 0em;" class="nav-link" href="#">John Doe</a>-->
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
            <a href="/logout" class="btn btn-outline-success">Sign Out</a>
        </form>
    </div>
</nav>