<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head_default_tags :: head_default_tags">head default tags come here.</th:block>
    <title>Online Car Rental | Home</title>
</head>
<body>
<nav th:replace="fragments/customer_nav :: customer_nav"></nav>

<div style="padding-top:1em;" class="container">
    <div>
        <form class="form-inline" method="get" th:action="@{/customer/car/dates}">
            <label class="h4" style="margin-right: 10px;">List of cars available</label>
            <label class="sr-only" for="startDate">FROM</label>
            <div class="input-group mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">FROM</div>
                </div>
                <input readonly th:value="${reservationStartDate}" name="startDate" type="date" class="form-control" id="startDate" placeholder="Select Date">
            </div>

            <label class="sr-only" for="endDate">TO</label>
            <div class="input-group mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">TO</div>
                </div>
                <input readonly th:value="${reservationEndDate}" name="endDate" type="date" class="form-control" id="endDate" placeholder="Select Date">
            </div>
            <button type="submit" class="btn btn-outline-success">Change Dates</button>
        </form>
    </div>
    <hr/>

    <div class="row" style="padding-bottom: 15px">
        <th:block th:each="car, iterStat : ${cars}">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" th:src="@{'/images/default-car.png'}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${car.model}"></h5>
                        <table class="table table-sm table-borderless">
                            <tbody>
                            <tr>
                                <th scope="row">Transmission</th>
                                <td th:text="${car.transmissionType}">Manual</td>
                            </tr>
                            <tr>
                                <th scope="row">Capacity</th>
                                <td><span th:text="@{${car.nuOfSeats}+' seats'}">4 seats</span>, <span
                                        th:text="@{${car.nuOfDoors}+' doors'}">4 doors</span></td>
                            </tr>
                            <tr>
                                <th title="Maximum no. of days allowed to be rented" scope="row">Duration limit</th>
                                <td colspan="2" th:text="@{${car.maxNoDays}+' days'}">20 days</td>
                            </tr>
                            <tr>
                                <th scope="row">Price</th>
                                <td colspan="2" th:text="@{'$'+${car.pricePerDay}+' per day'}">$5.00 per day</td>
                            </tr>
                            </tbody>
                        </table>
                        <a th:href="@{'/customer/car/reserve/'+${car.id}+'?startDate='+${reservationStartDate}+'&endDate='+${reservationEndDate}}" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </div>
            <th:block th:if="${iterStat.count%3 == 0}">
    </div><div class="row" style="padding-bottom: 15px">
    </th:block>
    </th:block>
</div>

    <th:block th:if="${count < 1}">
        <div class="col-sm-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title text-center">Oops! Looks like no car is available on the selected dates. <a th:href="@{'/customer/car/dates?startDate='+${reservationStartDate}+'&endDate='+${reservationEndDate}}" class="btn btn-link">Change dates?</a></h5>
                </div>
            </div>
        </div>
    </th:block>

</div>

<div th:replace="fragments/footer :: footer"></div>
<th:block th:replace="fragments/js_scripts :: js_scripts">js scripts come here.</th:block>
</body>
</html>
