<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head_default_tags :: head_default_tags">head default tags come here.</th:block>
    <title>Online Car Rental | Add Customer</title>
</head>
<body>
<nav th:replace="fragments/customer_nav :: customer_nav"></nav>
<div style="padding-top:1em;" class="container">
    <div style="margin-bottom: 1em;">
        <h2>Add Customer</h2>
    </div>

    <form id="newCustomerForm" method="post" action="/customer/new">
        <fieldset class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="plateNo">Email</label>
                        <input id="plateNo" name="plateNo" type="text" class="form-control"
                               autofocus required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input id="firstName" name="firstName" type="text" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="middleName">Middle Name</label>
                        <input id="middleName" name="middleName" type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" name="middleName" type="text" class="form-control" required>
                    </div>
                </div>

            </div>
        </fieldset>

        <fieldset class="form-group">
            <legend>Address</legend>
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="street" placeholder="1234 Main St">
            </div>

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-5">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>Iowa</option>
                        <option>Illinois</option>
                        <option>California</option>
                        <option>Texas</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="zipCode">ZIP</label>
                    <input type="text" class="form-control" id="zipCode">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="phone">Phone</label>
                    <input type="tel" class="form-control" id="phone">
                </div>
            </div>

            <div class="form-group" style="float:right;">
                <a href="/customer/list" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                <button id="btnSubmit" type="submit" class="btn btn-outline-success">Save Customer</button>
            </div>
        </fieldset>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>
<th:block th:replace="fragments/js_scripts :: js_scripts">js scripts come here.</th:block>
</body>
</html>
