<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head_default_tags :: head_default_tags">head default tags come here.</th:block>
    <title>Online Car Rental | Home</title>
</head>
<body>
<nav th:replace="fragments/logged_in_customer_nav :: logged_in_customer_nav"></nav>

<div style="padding-top:1em;" class="container">
    <div>
        <span class="h4" style="margin-right: 10px;">Our car catalog</span>
        <a style="line-height: 1;" class="btn btn-outline-success btn-lg" th:href="@{/customer/sec/car/dates?startDate=&endDate=}">Rent Now!</a>
    </div>
    <hr/>

    <div class="row" style="padding-bottom: 15px">
        <th:block th:each="car, iterStat : ${cars}">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" th:src="@{'/images/default-car.png'}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${car.model}"></h5>
                        <table class="table table-sm table-borderless">
                            <tbody>
                            <tr>
                                <th scope="row">Transmission</th>
                                <td th:text="${car.transmissionType}">Manual</td>
                            </tr>
                            <tr>
                                <th scope="row">Capacity</th>
                                <td><span th:text="@{${car.nuOfSeats}+' seats'}">4 seats</span>, <span
                                        th:text="@{${car.nuOfDoors}+' doors'}">4 doors</span></td>
                            </tr>
                            <tr>
                                <th title="Maximum no. of days allowed to be rented" scope="row">Duration limit</th>
                                <td colspan="2" th:text="@{${car.maxNoDays}+' days'}">20 days</td>
                            </tr>
                            <tr>
                                <th scope="row">Price</th>
                                <td colspan="2" th:text="@{'$'+${car.pricePerDay}+' per day'}">$5.00 per day</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <th:block th:if="${iterStat.count%3 == 0}">
                </div><div class="row" style="padding-bottom: 15px">
            </th:block>
        </th:block>
    </div>

    <th:block th:if="${count == 0}">
        <div class="col-sm-12">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Car catalog empty</h5>
                </div>
            </div>
        </div>
    </th:block>

</div>

<div th:replace="fragments/footer :: footer"></div>
<th:block th:replace="fragments/js_scripts :: js_scripts">js scripts come here.</th:block>
</body>
</html>
